<!-- Tables -->

<div ng-controller="UserController">

	  <div class="row wide">
	  
		  <div class="small-12 medium-6 columns">
		  		    <div class="row collapse">
		        	   <img class="left panel callout radius" src="dat/gena.png" width="50", height="50"/><div class="left"><h2>{{userData.info.name}} {{userData.info.family_name}}<small>'s info</small></h2></div>
		        		<div class="right"><a class="show-for-medium-up large button round" href="#/">Back to Main</a></div>
		        		<div  class="clearfix"></div>
		        	</div>
		        	<div class="row  collapse">

        				<div class="small-12 medium-6 columns">
        					<div class="panel radius callout">
        						<div class="row">
										<b>Activity:</b>
										<event-graph events-data="userData.events" series-type="line" mode="thumbnail" class="right" design="member-graph-small"></event-graph>
									
								</div>
        					</div>
        					<div class="row">
        						<div class="panel radius" >
									<b>Trello user:</b> <a class="right" href="{{userData.info.link_to_trello_page}}">{{userData.info.trello_username}}</a>		        			
        						</div>
        					</div>
        					<div class="row">
        						<div class="panel radius">
									<b>Github user:</b> <a class="right" href="{{userData.info.link_to_github_page}}">{{userData.info.github_username}}</a>		        			
        						</div>
        					</div>
        					<div class="row">
        						<div class="panel radius">
								   <b>Number of projects:</b> <span class="right">{{userData.info.number_of_projects}}</span>				
								</div>
							</div>
							<div class="row">
								<div class="panel radius">
									<b>Lines of code:</b> <span class="right">{{userData.info.lines_of_code}}</span>		        		
        						</div>
        					</div>
        				</div>
        				<div class="small-12 medium-6 columns">
        					
        					<div class="row collapse">
        					
        						<div class="small-6 medium-6 columns">

    								<table class="panel radius">
    									<tr>
											<th>Language</th>
											<th>Usage</th>		        									
    									</tr>
										<tr ng-repeat="language in userData.info.languages"> 
											<td>{{language.name}}</td><td>{{language.usage}}</td>
										</tr>
									</table>
								</div>
								<div class="small-6 medium-6 columns">				
        						</div>
							</div>
						</div>
						
		        </div>
		        <hr/>
		        
		  		<div class="row  collapse">
	        	    <div class="left"><h2>{{userData.info.name}} {{userData.info.family_name}}<small>'s projects</small></h2></div>
	        		<div  class="clearfix"></div>	        			  					
	  				<project-row project="project" ng-repeat="project in userData.projects" class="row collapse"></project-row>
		        </div>
		    <hr class="show-for-small-only"/> 
		  </div>
		  <div class="small-12 medium-6 columns">
	          <h2>{{userData.info.name}} {{userData.info.family_name}}<small>'s events</small></h2>	
				 <div ng-repeat="event in userData.events" class="panel radius">
				     <a href="{{event.info.link_to_event}}">{{event.info.event_name}}</a> {{event.info.event_description}} - {{event.info.date}}					
				 </div>	
		  </div>
        
		  
	  </div>
</div>

