/* app css stylesheet */

.wide {
  max-width: 92.5rem;
} 

.panel {
   padding: 0.25rem;
   margin: 0.25rem;
}
.panel.callout {
   padding: 0.25rem;
   margin: 0.25rem;
} 
.panel h2, .panel h3, .panel h4, .panel h5, .panel h6 {
    line-height: 1;
    padding:0;
    margin: 0.325rem; }
    
.userRow {
	margin: auto;
}

.project-graph-row{
    display: block;
    width: 11rem;
    height: 1.8rem;
    padding: 0.5rem;
    border-style: solid;
    border-width: 0.2rem;
}

.member-graph-small{
    display: block;
    width: 5rem;
    height: 1.1rem;
    padding: 0;
}

 @media only screen and (max-width: 40em) {
 .project-graph-row{
    display: block;
    width: 6rem;
    height: 1.5rem;
    padding: 0.5rem;
    border-style: solid;
    border-width: 0.2rem;
  }
 }

.project-graph-detailed {
    height: 10rem;
}

.align-right {
	text-align: right;
}

.icon {
	width: 16px;
	height: 16px;
}


[class*="block-grid-"] > li {
  padding: 0 0.1rem 0.1rem; 
}

